:root {
    font-size: 16px;
    --navbar_white : #fff8f6;
    --navbar_white_transparent: rgba(255, 248, 246, 0.95);
    --subtle_pink: #E5C3A6;
    --new_green: #f8fff6;
    --new_blue: #f6fdff;
    --new_pink: #fcf6ff;
    --mustard_yellow: #F4CE14;
    --moss_green: #495E57;
    --flat_dark: #45474B;
    padding: 0;
    margin: 0;
    outline: 0;
}



@font-face {
    font-family: encodeSans;
    src: url("/assests/fonts/EncodeSans-VariableFont_wdth\,wght.ttf");
}

body {
    background-color: var(--navbar_white);
    overflow-x: auto;
    scrollbar-gutter: stable;
    display: flex;
    justify-content: center;
    font-family: encodeSans, 'Encode Sans', sans-serif;
}

/* html {
    width: 100vw;
} */

/* body::-webkit-scrollbar{
    
} */

#navigation_div {
    width: 100%;
    height: 100px;
    background-color: var(--navbar_white);
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    z-index: 1;
}

.nav_link a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.nav_link a:visited {
    color: none;
}

.nav_link a:hover {
    color: var(--subtle_pink);
}

#profile_select a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

#profile_select a:visited{
    color: none;
}

#profile_select a:hover {
    color: var(--subtle_pink);
}

#page_navigation {
    position: relative;
    display: flex;
    width: auto;
    height: 100px;
    top: 0;
    left: 0;
    padding: 0 0 0 0;
    margin: 0;
    align-items: center;
}

#navigation_links {
    margin: 10px;
    padding: 0;
}

#navigation_links li{
    display: inline;
    float: left;
    /* margin-left: 10px; */
}

#play_nav {
    margin-left: 25px;
}

#leaderboard_nav {
    margin-left: 25px;
}

#nav_logo {
    width: 182px;
    height: 68.58px;
}

#nav_logo img {
    max-width: 100%;
    max-height: 100%;
}

#profile_select {
    width: auto;
    display: flex;
    align-items: center;
}

#profile_select > * {
    margin-left: 10px;
}

#nav_profile {
    width: 46px;
    height: 46px;
    background-color: yellow;
    border-radius: 25px;
}

#nav_profile img {
    max-width: 100%;
    max-height: 100%;
}