:root {
    font-size: 16px;
    --navbar_white : #fff8f6;
    --navbar_white_transparent: rgba(255, 248, 246, 0.95);
    --new_green: #f8fff6;
    --new_blue: #f6fdff;
    --new_pink: #fcf6ff;
    --subtle_pink: #FFA1F5;
    --mustard_yellow: #F4CE14;
    --moss_green: #495E57;
    --flat_dark: #45474B;
    --body_yellow : #FBECB2;
    --body_yellow_transparent: rgba(255, 248, 246, 0.95);
    --water_blue: #5272F2;
    --dark_blue: #072541;
    padding: 0;
    margin: 0;
    outline: 0;

}

@font-face {
    font-family: encodeSans;
    src: url("/assests/fonts/EncodeSans-VariableFont_wdth\,wght.ttf");
}

body {
    background-color: var(--navbar_white);
    overflow-x: auto;
    scrollbar-gutter: stable;
    display: flex;
    justify-content: center;
    font-family: encodeSans, 'Encode Sans', sans-serif;
}

#navigation_div {
    width: 100%;
    height: 100px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    z-index: 1;
}

#navigation_div, footer {
    background-color: white;
    color: #000;
}

#navigation_div, footer, .nav_link a, #profile_select a {
    color: #000;
}

.nav_link a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: color ease-in 0.25s;
}

.nav_link a:visited {
    color: none;
}

.nav_link a:hover {
    color: var(--subtle_pink);
}

#profile_select a{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

#profile_select a:visited{
    color: none;
}

#profile_select a:hover {
    color: var(--subtle_pink);
}

#page_navigation {
    position: relative;
    display: flex;
    width: auto;
    height: 100px;
    top: 0;
    left: 0;
    padding: 0 0 0 0;
    margin: 0;
    align-items: center;
}

#navigation_links {
    margin: 10px;
    padding: 0;
}

#navigation_links li{
    display: inline;
    float: left;
}

#play_nav {
    margin-left: 25px;
}

#leaderboard_nav {
    margin-left: 25px;
}

.logo {
    width: 182px;
    height: 68.58px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

#profile_select {
    width: auto;
    display: flex;
    align-items: center;
}

#profile_select > * {
    margin-left: 10px;
}

#nav_profile {
    width: 46px;
    height: 46px;
    background-color: yellow;
    border-radius: 25px;
}

#nav_profile img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    position: absolute;
    top: 1440px;
    width: 100%;
    height: 257px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

#support {
    max-width: 200px;
    max-height: 100px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
}

#contact {
    width: auto;
    height: auto;
    background-color: chartreuse;
}

#address {
    width: 200px;
    height: 100px;
    background-color: chartreuse;
}

#copyright {
    position: absolute;
    bottom: 0;
    color: yellowgreen;
}

.footer_header {
    font-size: 2rem;
    position: relative;
    
}

/* #contact {
    display: flex;
    justify-content: center;
}

#support {
    display: flex;
    justify-content: center;
} */

.support_link {
    margin: 0;
    position: relative;
    top: 50px;
    padding: 0;
    
}


.footer_header {
    font-size: 1.8rem;
    color: white;
    position: relative;
    top: 0px;
    margin: 0 0;
}

.table {
    margin-top: 120px;
    width: 800px;
    height: auto;
}

table {
    color: black;
    border-collapse: collapse;
}

thead {
    background-color: var(--mustard_yellow);
}

th {
    text-align: left;
}

tbody tr {
    /* margin-top: 10px; */
    border-bottom: 1px solid black;
}

td {
    padding-top: 30px;
}
